@layer components {
  .dialog-container {
    @apply fixed flex top-0 left-0 right-0 bottom-0 justify-center items-center z-50 h-full w-full;
  }

  .dialog {
    @apply flex flex-col border overflow-hidden resize rounded-md m-auto max-w-[90%] max-h-[90%];
    min-height: calc(3rem + 10rem + 4rem);
    min-width: calc(24rem);
    background-color: var(--color-bg);
    border-color: var(--color-border);

    &::backdrop {
      background: var(--overlay);
    }

    & .caption {
      @apply flex shrink-0 px-4 py-3 text-lg font-semibold;
      /* background-color: var(--color-srf-dim); */
      border-color: var(--color-border-separate);
      background: linear-gradient(54deg in oklch, var(--color-srf-dim) 40%, var(--color-action) 100%);
      box-shadow: var(--shadow-lg);

      &.warn {
        background: linear-gradient(54deg in oklch, var(--color-srf-dim) 35%, var(--color-warn-bg) 100%);
      }

      &.info {
        background: linear-gradient(54deg in oklch, var(--color-srf-dim) 35%, var(--color-info-bg) 100%);
      }

      &.success {
        background: linear-gradient(54deg in oklch, var(--color-srf-dim) 35%, var(--color-success-bg) 100%);
      }

      &.error {
        background: linear-gradient(54deg in oklch, var(--color-srf-dim) 35%, var(--color-error-bg) 100%);
      }

    }

    & .caption-title {
      @apply flex-1;
    }

    & .content {
      @apply flex flex-col flex-1 min-h-0 overflow-hidden;
      border-color: var(--color-border-separate)
    }

    & .controls {
      @apply flex shrink-0 justify-end gap-2 px-6 pt-2 pb-3;
      background: linear-gradient(65deg in oklch, var(--color-srf-dim) 35%, var(--color-bg) 100%);
    }

    & .loading {
      @apply px-6 py-10 text-center;
      color: var(--color-text-muted);
    }
  }

  .dialog-form {
    @apply space-y-4 flex flex-1 flex-col min-h-0;
  }
}