@layer components {
  .dialog-container {
    @apply fixed top-0 left-0 right-0 bottom-0 flex justify-center items-center z-50 h-full w-full;
  }

  .dialog {
    @apply flex flex-col overflow-hidden resize rounded-md m-auto max-w-[90%] max-h-[90%];
    min-height: calc(3rem + 10rem + 4rem);
    min-width: calc(24rem);
    background-color: var(--color-bg);

    &::backdrop {
      background: var(--overlay);
    }

    & .caption {
      @apply px-4 py-3 border-b text-lg font-semibold;
      background-color: var(--color-srf-dim);
      border-color: var(--color-border-separate);
    }

    & .content {
      @apply p-2 flex-1 min-h-0 flex flex-col border-b;
      border-color: var(--color-border-separate)
    }

    & .controls {
      @apply flex justify-end gap-2 px-6 pt-2 pb-3;
    }

    & .loading {
      @apply px-6 py-10 text-center;
      color: var(--color-text-muted);
    }
  }
}