@layer components {
  .input {
    @apply w-full px-3 py-2 rounded-md text-sm;
    background: var(--color-srf);
    color: var(--color-text);
    border: 1px solid var(--color-border);
    transition: border-color 0.15s ease, box-shadow 0.15s ease;
    box-shadow: var(--shadow-sm);

    &:focus {
      outline: none;
      border-color: var(--color-border-focus);
      box-shadow: var(--shadow-md);
      /* box-shadow: 0 0 0 2px color-mix(in oklch, var(--color-ring), transparent 70%); */
    }

    &:disabled {
      background: var(--color-srf-muted);
      color: var(--color-text-dim);
      cursor: not-allowed;
    }

    &[data-error] {
      border-color: var(--color-error);

      &:focus {
        box-shadow: 0 0 0 2px color-mix(in oklch, var(--color-error), transparent 70%);
      }
    }

    &[type='password'] {
      @apply pe-8;
    }

    &[data-status="error"] {
      border-color: var(--color-error);
      background-color: var(--color-error-bg);
    }

    &[data-status="warn"] {
      border-color: var(--color-warn);
      background-color: var(--color-warn-bg);
    }

    &[data-status="info"] {
      border-color: var(--color-info);
      background-color: var(--color-info-bg);
    }

    &[data-status="success"] {
      border-color: var(--color-success);
      background-color: var(--color-success-bg);
    }

  }

  .field-control {
    position: relative;
  }

  .field-action-btn {
    @apply absolute inline-flex justify-center items-center inset-e-3 top-1/2 -translate-y-1/2;
    color: var(--color-text-muted);

    &[aria-pressed='true'] {
      color: var(--color-action);
    }
  }

  .check {
    @apply w-5 h-5 rounded-sm border;

    appearance: none;
    display: inline-block;
    vertical-align: middle;
    flex-shrink: 0;

    background: var(--state-normal);
    border-color: var(--color-border);

    transition:
      border-color 0.15s ease,
      background-color 0.15s ease,
      box-shadow 0.15s ease;

    &:checked {
      background: var(--state-selected);
      border-color: var(--color-border-focus);
    }

    &:focus {
      outline: none;
      box-shadow:
        0 0 0 2px color-mix(in oklch, var(--color-ring), transparent 70%);
    }

    &:disabled {
      background: var(--color-srf-muted);
      border-color: var(--color-border);
      cursor: not-allowed;
      opacity: 0.7;
    }
  }

  .check-label {
    @apply flex items-center gap-2 cursor-pointer text-sm;
    color: var(--color-text);
  }

  .text-dialog-area {
    @apply flex-1 w-full h-full resize-none;

    background: var(--color-srf);
    color: var(--color-text);

    &:focus {
      border: none;
      outline: none;
      box-shadow: none;
    }

    &:disabled {
      background: var(--color-srf-muted);
      color: var(--color-text-muted);
      cursor: not-allowed;
    }
  }
}