@layer components {
  .menu-container {
    @apply flex items-center border-b;
    border-color: var(--color-border-separate);
  }

  .menu {
    @apply flex w-full items-center px-2 h-10;
    /* background-color: var(--color-srf-dim); */
    background: linear-gradient(54deg in oklch, var(--color-srf-dim) 39%, var(--color-action) 100%);
  }

  .menu-dropdown {
    @apply relative inline-block;
    color: var(--color-text);
    border-color: var(--color-border);

    &:hover {
      background-color: var(--color-srf-muted);
      color: var(--color-text);
    }
  }

  .menu-trigger {
    @apply px-4 py-2 rounded;
    color: var(--color-text);
    transition: background-color 0.15s ease;

  }

  .menu-panel {
    @apply absolute min-w-48 z-50;
    color: var(--color-text);
    background-color: var(--color-srf-dim);
    box-shadow: var(--shadow-md);

    & a {
      @apply block px-4 py-2 items-center border-t border-l border-r last:border-b rounded-t-none last:rounded-b-sm;
      border-color: var(--color-border-separate);
      transition: background-color 0.15s ease;

      &:hover {
        background-color: var(--color-srf-muted);
        color: var(--color-text);
      }

      &[data-disabled] {
        color: var(--text-muted);
        cursor: not-allowed;

        &:hover {
          background-color: transparent;
        }
      }
    }
  }

  .menu-separator {
    @apply mx-2 select-none;
    color: var(--color-text-muted);
    opacity: 0.6;
    user-select: none;
  }
}