@layer components {
  .page-container {
    @apply flex flex-col border-b;
    border-color: var(--color-border-separate);
  }

  .page-toolbar {
    @apply flex flex-[0_0_auto] items-center gap-2 px-3 py-2;
    background-color: var(--color-srf);
  }

  .page-title {
    @apply flex items-center gap-1 text-lg font-medium;
    color: var(--color-text);
  }

  .page-actions {
    @apply flex ml-auto items-center gap-2;
  }

  .page-content {
    @apply flex flex-col gap-4 p-4;
  }

}