@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@layer utilities {
  .animate-fade-out {
    animation: fadeOut 1s ease-out forwards;
  }

  .field-error {
    color: var(--color-error);
  }

  .field-error-bg {
    background-color: var(--color-error-bg);
    border-color: var(--color-error);
  }

  .field-warn {
    color: var(--color-warn);
  }

  .field-warn-bg {
    background-color: var(--color-warn-bg);
  }

  .field-info {
    color: var(--color-info);
  }

  .field-info-bg {
    background-color: var(--color-info-bg);
  }

  .field-success {
    color: var(--color-success);
  }

  .field-error-success {
    background-color: var(--color-success-bg);
  }

  .icon-info {
    background-color: var(--color-info);
    color: var(--color-text-peak);
  }

  .icon-critical {
    background-color: var(--color-error);
    color: var(--color-text-peak);
  }

  .icon-warn {
    background-color: var(--color-warn);
    color: var(--color-text-peak);
  }

  .icon-success {
    background-color: var(--color-success);
    color: var(--color-text-peak);
  }


}